<!DOCTYPE html>
<html lang="en">
<head><script src='app.component.ts'></script>
  <title></title></head>

<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <button (click)="showEdit()" class="edit-tog"><i class="fas fa-edit" ></i></button>
  <button (click)="openForm()" class="open-button">Login</button>
  <div #loginForm class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <button type="submit" class="btn">Login</button>
      <button (click)="closeForm()" type="button" class="btn cancel">Close</button>
    </form>
  </div>
</div>
<!--[if lt IE 7]>
<p class="browsehappy">You arnpme using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->



<div id="main">
  <div><img src="../assets/Captura%20de%20pantalla%202022-06-09%20153814.png" alt="Italian Trulli" class="head" style="width:1440px;height:500px; border-top-right-radius: 10px; border-top-left-radius:10px; margin:0 auto; padding: 0px"></div>
  <div id="details">
    <img src="../assets/avatar.png" alt="Avatar" class="avatar">
    <h1>Juan Carosella</h1>
    <h3>trabajo</h3>
    <h4>lugar</h4>
  </div>
</div>
<div id="feed">
  <div>
    <h2>Acerca de</h2>
    <p>texto de ejemplo</p>
  </div>
  <div>
    <h2>Experiencia</h2>
    <ul>
      <li id="exp0" >
        <img src="http://lorempixum.com/100/100/nature/1" />
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="edit" id="edit-btn">
          <button (click)="openDialog()" class="edit-btn"><i class="fas fa-edit"></i></button>
        </div>
      </li>
      <li id="exp1">
        <img src="http://lorempixum.com/100/100/nature/2" />
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="edit">
          <button (click)="edit_text('exp1')" class="edit-btn"><i class="fas fa-edit" ></i></button>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h2>Educación</h2>
    <ul>
      <li id="ed0" >
        <img src="http://lorempixum.com/100/100/nature/1" />
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="edit">
          <button class="edit-btn"><i class="fas fa-edit" ></i></button>
        </div>
      </li>
      <li id="ed1" >
        <img src="http://lorempixum.com/100/100/nature/2" />
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="edit">
          <button class="edit-btn"><i class="fas fa-edit" ></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h2>The progress element</h2>
    <label for="file">Downloading progress:</label>
    <progress id="file" value="32" max="100"> 32% </progress>
  </div>
  <div>
    <h2>Proyectos</h2>
    <ul>
      <li id="pr0" >
        <img src="http://lorempixum.com/100/100/nature/1"/>
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="edit">
          <button class="edit-btn"><i class="fas fa-edit" ></i></button>
        </div>
      </li>
      <li id="pr1" >
        <img src="http://lorempixum.com/100/100/nature/2" />
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="edit">
          <button class="edit-btn"><i class="fas fa-edit" ></i></button>
        </div>
      </li>
    </ul>
  </div>

</div>


</body>
</html>
