/* You can add global styles to this file, and also import other style files */

html, body { padding: 0; margin: 0;
}

html{
  background: #e9e5df;
}


.ng-star-inserted {
  display: block;
  width: 400px;
  length: 50px;
}









